.anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
  }

.img-aligned {
    width:80%;
    padding: 1.5%;
}